{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-color-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{% static 'geral/img/logo.png' %}" width="20%" alt="">&nbspHEALING</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Área do paciente
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
                  <li><a class="dropdown-item" href="{% url 'minhas_consultas' %}">Minhas consultas</a></li>
                </ul>
            </li>

            {% if is_medico %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Área do médico
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'abrir_horario' %}">Abrir horários</a></li>
                        <li><a class="dropdown-item" href="{% url 'consultas_medico' %}">Suas consultas</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cadastro_medico' %}">Sou médico</a>
                </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>