{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
{% endblock 'head' %}

{% block 'body' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md d-flex justify-content-center">
                <div class="cont-cadastro">
                    <br>
                    <br>
                    <section class="cont-logo">
                        <img class="logo" src="{% static 'geral/img/logo.png' %}">
                        <label class="text-logo">HEALING</label>
                    </section>
                    <hr>
                    
                    <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                        <h2 class="fonte-destaque1">Logar</h2>
                        {% if messages %}
                            <br>
                            {% for message in messages %}
                                <section class="alert {{message.tags}}">
                                    {{message}}
                                </section>
                            {% endfor %}
                        {% endif %}
                        <br>
                        <label for="">Username</label>
                        <input type="text" name="username" id="" class="form-control" placeholder="Username ...">
                        <br>
                        
                       
                        <label for="">Senha</label>
                        <input type="password" name="senha" class="form-control" placeholder="Digite sua senha ...">
                        <br>

                        <input type="submit" value="Logar" class="btn btn-success btn-dark-color">
                        <a href="{% url 'cadastro' %}" class="btn btn-dark-color-outline">Não possuo uma conta</a>
                    </form>
                </div>

            </div>
            <div class="col-md bg-main d-flex justify-content-center align-items-center">
                <img src="{% static 'usuarios/img/ilustracao.png' %}" alt="">


            </div>
        </div>
    </div>


{% endblock 'body' %}

