{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'medicos/css/abrir_horario.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
    <link rel="stylesheet" href="{% static 'medicos/css/cadastro_medico.css' %}">
{% endblock 'head' %}


{% block 'body' %}
{% include "partials/navbar.html" %}
    <div class="container">

        <br><br>

        <div class="row">
            <div class="col-md-8">
                
                <img src="{{dados_medicos.foto.url}}"  class="foto-perfil" alt="">
                <label style="margin-left: 30px; font-size: 25px" class="p-bold">Olá, <span class="color-dark">{{request.user.username}}</span></label>
                
                <br>
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <section class="alert {{message.tags}}">
                            {{message}}
                        </section>
                    {% endfor %}
                {% endif %}
                <br>
                <p style="font-size: 25px" class="p-bold">Abrir horários para consultas</p>
                <hr>
                <form action="{% url 'abrir_horario' %}" method="POST">{% csrf_token %}
                    <label for="">Escolher data:</label>
                    <input type="datetime-local" name="data" class="form-control shadow-main-color">
                    <br>
                    <input type="submit" value="Salvar" class="btn btn-success btn-dark-color">
                </form>
            </div>
            <div class="col-md-4">
                <p style="font-size: 25px" class="p-bold">Seus horários:</p>
                <ul class="list-group">
                    {% for data in datas_abertas %}
                        <li>{{data}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock 'body' %}