{% extends "base.html" %}
{% load static %}

{% block 'head' %}

    <link rel="stylesheet" href="{% static 'medicos/css/abrir_horario.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
    <link rel="stylesheet" href="{% static 'medicos/css/cadastro_medico.css' %}">
    <link rel="stylesheet" href="{% static 'pacientes/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'pacientes/css/agendar_horario.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

{% endblock 'head' %}

{% block 'body' %}
    {% include "partials/navbar.html" %}

    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% if consulta.status == 'C' %}
                    <div class="alert alert-danger" role="alert">
                        Consulta cancelada
                    </div>
                {% elif consulta.status == 'F' %}
                    <div class="alert alert-success" role="alert">
                        Consulta Finalizada
                    </div>
                {% elif consulta.status == 'I' %}
                    <div class="alert alert-primary" role="alert">
                        Consulta inicializada, acesse o link imediatamente!
                    </div>
                {% endif %}
                
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <section class="alert {{message.tags}}">
                            {{message}}
                        </section>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-md">
                        <p style="font-size: 20px" class="p-bold">Paciente {{consulta.paciente.username}} <i class="bi bi-patch-check-fill icon-main"></i></p>
                        <p>{{dado_medico.descricao}}</p>
                        <p class="p-bold">{{consulta.data_aberta.data}}</p>
                    </div>
                </div> 
                <hr>
                <br>
                <div class="row">
                    <div class="col-md">
                        
                        <p><i class="color-dark bi bi-check-circle-fill"></i> Consulta agendada</p>
                    </div>
                    <div class="col-md">
                        <p><i class="{% if consulta.status == 'F' %}color-dark{% endif %} bi bi-check-circle-fill"></i> Consulta realizada</p>
                    </div>
                    <div class="col-md">
                        <p><i class="bi bi-check-circle-fill"></i> Consulta Avaliada</p>
                    </div>
                </div>
                <hr>
                <h3 class="p-bold">Detalhes da consulta</h3>
                <p style="font-size:20px"><i class="bi bi-calendar3 color-dark"></i>&nbsp {{consulta.data_aberta.data}}</p>
                <a style="cursor: auto;" class="btn btn-dark-color-outline btn-lg">Adicione em seu calendário!</a>
                <hr>
                <h3 class="p-bold">Como acessar ?</h3>
                <p>Adicione o link do google meet para iniciar a consulta</p>
                <form action="{% url 'consulta_area_medico' consulta.id %}" method="POST">{% csrf_token %}
                    <input type="text" name="link" class="form-control shadow-main-color" id="" placeholder="Link ..." value="{% if consulta.link %}{{consulta.link}}{% endif %}">
                    <br>
                    <input type="submit" class="btn btn-success btn-dark-color btn-lg" value="Iniciar consulta">
                </form>
                
                
                    
                <hr>
                
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="col-md">
                <h3 class="p-bold">Documentos do paciente</h3>
                <form action="{% url 'add_documento' consulta.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <input type="text" name="titulo" class="form-control" placeholder="Titulo ...">
                    <br>
                    <input type="file" name="documento" class="form-control">
                    <br>
                    <input type="submit" class="btn btn-dark-color-outline btn-lg" value="+">
                </form>
                <hr>
                <br>
                {% for documento in documentos  %}

                    <a href="{{documento.documento.url}}" class="link documentos"><i class="bi bi-file-arrow-down"></i> {{documento.titulo}} - {{documento.consulta.data_aberta.data.year}}</a>
                    <br>
                    <br><br>
                {% endfor %}
                
                <hr>
                <a href="{% url 'finalizar_consulta' consulta.id %}" class="btn btn-primary">Finalizar consulta</a>
            </div>
        </div>
        
    </div>

{% endblock 'body' %}